$primary-color: #fff;
$border-radius: 5px;
$black-color: #3a2483;

.foodContainer {
    background-color: $primary-color;
    position: relative;
    display: grid;
    grid-template-columns: 300px 600px;
    border-radius: $border-radius;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    .menuImg {
     width: 300px;
     height: 300px;
     border-radius: $border-radius 120px 120px $border-radius;
    }
    .btn {
     position: absolute;
     bottom: -20px;
     right: -20px;
     border: none;
     outline: none;
     display: flex;
     align-items: center;
     background-color: #531eb4;
     color: $primary-color;
     padding: 22px 45px;
     font-size: 1rem;
     text-transform: uppercase;
     border-radius: $border-radius;
     cursor: pointer;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
     i {
      margin-left: 20px;
      font-size: 1.5rem;
     }
    }
   }
   .foodContainer__text {
    padding: 40px 40px 0;
    h1 {
     color: $black-color;
     font-weight: 400;
    }
    .foodContainer__text__star span {
     font-size: 0.8rem;
     color: #ffa800;
     margin: -5px 0 20px;
    }
    p {
     font-size: 0.9rem;
    }
    .foodContainer__text__timing {
     display: flex;
     margin: 20px 0 10px;
     .foodContainer__text__timing_time {
      margin-right: 40px;
     }
     h2 {
      margin-bottom: 5px;
      font-size: 1rem;
      font-weight: 400;
      color: #818189;
     }
     p {
      color: $black-color;
      font-weight: bold;
      font-size: 1.2rem;
     }
    }
   }