@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);
.home{
    flex:19.3;
    width: 2000px;
    background-color: rgb(247, 247, 247);
}
  
  .img-container img {
    height: 200px;
  }

  .scaleImg img{
    cursor: pointer;
    transition: all .2s ease-in-out; 
  -webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
  }
  .scaleImg:hover img{
 
  -webkit-transform: rotate(5deg) scale(1.2);
	transform: rotate(5deg) scale(1.2);
  }



  /********weather************/



  .weatherCard{
    width: 700px;
    height: 300px;
    font-family: 'Open Sans';
    position: relative;
    
  }
  .currentTemp{
    width: 520px;
    height: 200px;
    background: rgb(41, 41, 41);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 0;
  }

  .currentWeather{
    width: 180px;
    height: 200px;
    background: rgb(237, 237, 237);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .clouds{
    width: 700px;
    height: 50px;
    position: absolute;
    bottom: 40px;
    left: 0;
    background: rgb(42, 178, 234);
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 0 20px 20px;
    font-size: 30px;
    display: block;
  }
  .temp{
    font-size: 80px;
    text-align: center;
    display: block;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding: 20px 0 0;
  }
  .location{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    display: block;
  }
  .miniTitle{
    font-size: 0.59em;
    display: block;
    font-weight: 500;
    text-align: center;
  }
  .conditions{
    font-family: weathericons;
    font-size: 19px;
    display: block;
    padding: 0px 0 0;
    text-align: center;
  }
  .info{
    width: 180px;
    height: 47px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(42, 178, 234);
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .rain {
    width: 50%;
    position: absolute;
    left: 10px;
    word-spacing: 60px;
    top: 3px;
  }
  .rain::before{
    display: block;
    content: '\f04e';
    font-family: weathericons;
    font-size: 40px;
    left: 6px;
    top: -4px;
    position: absolute;
  }
  .wind {
    width: 50%;
    right: -10px;
    position: absolute;
    word-spacing: 60px;
    top: 3px;
  }
  .wind::before{
    display: block;
    content: '\f050';
    font-family: weathericons;
    font-size: 25px;
    left: -10px;
    position: absolute;
    top: 5px;
  }