

.meds h1{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}
.meds p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}
.meds form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
    
}
.meds .rowMed{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
.meds label{
    color: #1c093c;
    font-size: 14px;
}
.meds textarea,
.meds input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

.meds textarea{
    resize: none;
}
.meds textarea:focus,
.meds input:focus{
    outline: none;
    border-color: #6f6df4;
}

.personalInfoMed{
    margin:50px 0 2px 0;
}


.aas{
    position: relative;
    overflow: auto;
    
}
.aas::-webkit-scrollbar {
    display: none;
  }

