.topbarWrapper{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar{
    
    background-color: rgb(247, 247, 247);
    position: absolute;
    right: 0px;
    width: 82%;
    top: 0;
}

#light .topbar{
    
    background-color: rgb(247, 247, 247);
   
}
#dark .topbar{
    background-color: #344767 !important;
}
#dark .topbar span{
     color: antiquewhite;
}
.topLeft{
    flex: 1;
    padding-top: 0.40625rem;
    padding-bottom: 0.40625rem;
    margin-right: 1rem;
    font-size: 1.125rem;
    white-space: nowrap;
}


.topRight{
    flex: 4;
    margin-top: 0;
    z-index: 999;
}