.addSenior{
    flex: 12.3;
    
}


@media (min-width: 576px) {

    .addSenior,
    .addSenior-sm {
      max-width: 800px;
    }
  }
  
  @media (min-width: 768px) {
  
    .addSenior,
    .addSenior-sm,
    .addSenior-md {
      max-width: 992px;
    }
  }
  
  @media (min-width: 992px) {
  
    .addSenior,
    .addSenior-sm,
    .addSenior-md,
    .addSenior-lg {
      max-width: 1200px;
    }
  }
  
  @media (min-width: 1200px) {
  
    .addSenior,
    .addSenior-sm,
    .addSenior-md,
    .addSenior-lg,
    .addSenior-xl {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
  
    .addSenior,
    .addSenior-sm,
    .addSenior-md,
    .addSenior-lg,
    .addSenior-xl,
    .addSenior-xxl {
      max-width: 1289.7px;
    }
  }
  

input[type="date"]{

    
  
    padding: 3px;
    padding-left: 8px;
    height: 43px;
    position: absolute;
    
}
::-webkit-calendar-picker-indicator{
    background-color: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}






